.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.img {
  display: block;
}

.text {
  display: flex;
  flex-direction: column;
  font-family: var(--font-primary);
  font-weight: 700;
  font-size: 1rem;
  color: var(--text-primary);
}

.textColor {
  color: #fad903;
  font-weight: 700;
}

/* === Variantes === */

/* navbar */
.navbar .img {
  width: 3.5rem;
}
.navbar .text {
  font-size: 1rem;
}

/* hero */
.hero .img {
  width: 9rem;
}
.hero .text {
  font-size: 3rem;
}

/* footer */
.footer .img {
  width: 4rem;
}
.footer .text {
  font-size: 1.2rem;
}
