.card {
  width: 100%;
  height: 328px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.158);
  text-align: center;
  color: var(--color-text-secondary);
  background-color: var(--background-card);

  display: grid;
  grid-template-rows: 255px 73px;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}
.card:hover {
  background-color: var(--background-yellow-hover);
  border: 1px solid var(--border-yellow-hover);
  box-shadow: 4px 8px 12px rgba(255, 208, 1, 0.726);
  transform: scale(1.02);
}

.headerCard {
  padding: 24px 24px 0px 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.titleCard,
.footerContent {
  color: var(--color-text-primary);
}

.imgProfile {
  width: 128px;
  height: 128px;
  border-radius: 10px;
  border: 1px solid #ececec;
  box-shadow: 1px 0px 4px 1px rgba(51, 51, 51, 0.356);
  transition: all 0.3s ease-out;
}
.card:hover .imgProfile {
  box-shadow: 4px 8px 12px 2px rgba(255, 208, 1, 0.726);
  transform: rotate(5deg);
}

.titleCard {
  font-size: 1.3rem;
  transition: all 0.3s ease-out;
}
.card:hover .titleCard {
  color: var(--color-text-title-card-hover);
}

.occupationCard {
  height: 40px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Número de líneas a mostrar */
  line-clamp: 2; /* futuro estándar */
  overflow: hidden;
  font-size: 0.9rem;
  transition: all 0.3s ease-out;
}
.card:hover .occupationCard {
  color: var(--color-text-card-hover);
}

/* === estilos footer === */
.footerCard {
  padding: 0px 24px 4px 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.statesContent {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 2px;
}

.footerContent {
  border-radius: 2rem;
  border: 1px solid #c0c0c0;
  padding: 0.1rem 0.6rem;
  font-size: 0.75rem;
}

.phrase {
  font-size: 0.8rem;
  font-style: italic;
  transition: all 0.3s ease-out;
}
.card:hover .phrase {
  color: var(--color-text-card-hover);
}

/* estilos estado */
.aliveStatus {
  color: var(--color-text-green);
  background-color: var(--background-green);
}

.deceasedStatus {
  color: var(--color-text-red);
  background-color: var(--background-red);
}

@media (max-width: 490px) {
  .titleCard {
    font-size: 1.15rem;
  }

  .occupationCard {
    font-size: 0.85rem;
  }
}
