@font-face {
  font-family: "RobotoCustom";
  src: url("../assets/fonts/Roboto-Variable.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "SpinnakerCustom";
  src: url("../assets/fonts/Spinnaker-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
