@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(369deg);
  }
}

.contentLoader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.spinner {
  width: 36px;
  height: 36px;
  border: 4px solid rgba(24, 132, 255, 0.925);
  border-top-color: transparent;
  border-radius: 50%;
  animation: 0.7s spin linear infinite;
}

.message {
  font-size: 1.1rem;
  font-weight: 600;
}
