/* === contenedor principal === */
.header {
  background-color: var(--background);
  position: fixed;
  width: 100%;
  height: 70px;
  border-bottom: 1px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--sp-small);
  z-index: 999;
}

/* === menu hamburguesa oculto === */
.hamburguer {
  display: none;
  background-color: var(--color-text-primary);
  border-radius: 50%;
  padding: var(--sp-small);
  transition: opacity 0.3s ease;
}
.hamburguer:hover {
  opacity: 0.6;
}

/* === nav para la lista de links o menu hamburguesa === */
.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* === contenedor lista que se oculta ==== */
.navList {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.navText {
  transition: all 0.4s ease-out;
}
.navText:hover {
  border-bottom: 1px solid var(--color-text-primary);
}

/* estilos genericos para `li` de textos y botones */
.navItem {
  display: flex;
  align-items: center;
  padding: 0.25rem, 0.5rem;
  cursor: pointer;
}

/* === contenedor lista para botones === */
.navActions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navItemIcon {
  border-radius: 50%;
  padding: var(--sp-small);
  background-color: var(--color-text-primary);
  transition: opacity 0.3s ease;
}
.navItemIcon:hover {
  opacity: 0.6;
}

.navItemButton {
  background-color: var(--color-text-primary);
  border-radius: 50%;
  padding: var(--sp-small);
  transition: opacity 0.3s ease;
}
.navItemButton:hover {
  opacity: 0.6;
}

/* === Media Querys para responsividad ===*/
@media (max-width: 768px) {
  .hamburguer {
    display: block;
  }

  .navActions {
    gap: 1rem;
  }

  .navList {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--background-hamburguer);
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    z-index: 99;
    opacity: 0;
    pointer-events: none;
  }

  .navList.open {
    display: flex;
    animation: slide-down 0.4s ease forwards;
    opacity: 1;
    pointer-events: auto;
  }

  .navList.close {
    display: flex; /* seguir ocultando espacio para poder animar*/
    animation: slide-up 0.3s ease forwards;
  }
}

/* === animaciones sencillas para el menu hamburguesa === */
@keyframes slide-down {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-10px);
    opacity: 0;
  }
}
