.charactersContainer {
  padding: var(--sp-large) 0;
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.list {
  width: 90%;
  padding: 0 var(--sp-medium);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
  place-items: center;
}
