@import "./styles/reset.css";
@import "./styles/fonts.css";
@import "./styles/states.css";
@import "./styles/variables.css";

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  line-height: 1.3;
  min-height: 100vh;
  font-family: var(--font-secondary);
}

h1,
h2,
h3 {
  font-family: var(--font-primary);
  font-weight: 700;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
